* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(44, 44, 44);
}

button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(228, 228, 228);
    align-items: center;
    padding: 6px 6px;
}

.profile .email {
    font-size: 10px;
}

header .menu a {
    text-decoration: none;
    padding: 4px 8px;
}

header .menu a:hover {
    background-color: rgb(47, 47, 247);
    color: white;
}

main {
    width: 300px;
    margin: 20px auto 0 auto;
}

main h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

main form {
    width: 250px;
    margin: 0 auto;
}

main form .task {
    display: flex;
    justify-content: space-between;
}

main form .task button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(177, 177, 250);
    color: white;
}

main form .task button:hover {
    background-color: rgb(110, 110, 255);
}

main form .task input {
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    padding: 4px 8px;
}

main form .task input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgb(177, 177, 250);
}

main .tasks {
    width: 250px;
    margin: 10px auto 0 auto;
}

main .tasks .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px 0;
    padding: 4px 8px;
    border-radius: 4px;
}

main .tasks .task-item .actions .ok {
    background-color: rgb(198, 245, 172);
}

main .tasks .task-item .actions .delete {
    background-color: rgb(245, 172, 172);
}

main .tasks .task-item .content p {
    font-size: 14px;
}

main .tasks .task-item:hover {
    background-color: rgb(255, 237, 237);
}